.app__footer {
    color: #1b1919;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: start; 
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    margin-left: 5vw;
}

.footer__logo {
    width: 110px;
    height: auto;
    transition: transform 0.3s ease; /* Transición para el hover */
}

.footer__logo:hover {
    transform: scale(1.2);
}

.footer__text {
    font-size: 20px;
    margin-bottom: 1rem;
}

.social__icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.social__icon {
    cursor: pointer;
    background: none; 
    border: none;
    padding: 0;
    transition: transform 0.3s ease;
}

.social__icon:hover {
    transform: scale(1.2);
}

.noselect {
    user-select: none;
}