/* Estilos Base */
html {
    --pokename: #000;
    --cardborder: #fff;
    --pokenumber: hsl(228, 28%, 20%);
    --info: #fff;
    --bggradient: url("../assets/images/bg.png");
    --bgcolor: none;
}

html[data-theme=dark] {
    --pokename: hsl(228, 28%, 20%);
    --cardborder: hsl(228, 28%, 20%);
    --pokenumber: hsl(228, 28%, 20%);
    --info: hsl(228, 28%, 20%);
    --bggradient: none;
    --bgcolor: #16171f;
}

/* Contenedor Principal */
.info__container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permitir que los elementos se muevan a la siguiente línea */
    justify-content: space-between; /* Distribuir espacio entre elementos */
    gap: 1rem; /* Espacio uniforme entre elementos */
    overflow: hidden; /* Evitar scroll horizontal */
	margin: 0 auto;
}

/* Imágenes y Contenido */
.info__container__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.78);
    padding: 1.25rem;
    width: 100%; /* Cambiado a 100% para que ocupe el ancho completo */
    max-width: 100%; /* Máximo ancho */
    aspect-ratio: 1; /* Mantener relación de aspecto cuadrada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra */
    margin: 0 auto; /* Margen uniforme */
}

.info__container__img img {
    width: 100%; /* Cambiado a porcentaje */
    max-width: 100%; /* Máximo ancho */
    height: auto; /* Altura automática */
    border-radius: 1.2rem;
    display: block;
}

/* Datos del Pokémon */
.info__container__data {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ancho completo */
    max-width: 100%;
    margin: 0 auto; /* Centrado automático */
}

/* Texto */
.pokemon__name {
    font-size: 5vw;
    text-transform: capitalize;
    font-family: 'Press Start 2P', cursive; /* Asegurarse de que la fuente sea clara */
    text-align: center; /* Centrar el texto */
}

.pokemon__id {
    color: var(--pokenumber);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 4vw; /* Proporcional al tamaño de la ventana */
    margin: 0; /* Eliminar márgenes para evitar espacio arriba */
    padding: 0; /* Sin padding adicional */
    padding-bottom: 1rem; /* Espacio solo en la parte inferior */
    text-align: center; /* Centrar el texto horizontalmente */
}

/* Encabezados de Datos */
.info__container__headings,
.info__container__data__abilities {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ancho adaptativo */
    max-width: 100%;
    margin: 0 auto; /* Cambiado a unidades relativas */
    font-family: 'VT323', monospace;
    font-size: 3vw; /* Tamaño menor para encabezados de habilidades y otros */
    font-weight: 600;
    margin-bottom: 0.625rem; /* Espaciado para claridad */
}

/* Texto Adicional */
.info__container__data__data {
    display: flex; /* Activa el modelo Flexbox */
    width: 100%; /* Ancho adaptativo */
    flex-direction: row; /* Organiza los elementos en una fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
    gap: 1rem; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    background-color: rgba(255, 255, 255, 0.25); /* Fondo semi-transparente */
    padding: 0.625rem; /* Espacio interno alrededor del contenido */
    border-radius: 1rem; /* Redondea las esquinas */
    margin: 0 auto; /* Espacio superior */
}

/* Asegurar que las columnas de estadística tengan el mismo tamaño */
.info__container__stat__columns {
    flex: 1; /* Hace que todas las columnas ocupen el mismo ancho */
    min-width: 135px; /* Ancho mínimo */
    max-width: 150px; /* Ancho máximo para que no se desborden */
}

/* Componentes de Diálogo */
.MuiDialog-paperFullWidth {
    width: 63%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(175, 136, 136, 0.29), 0 6px 6px rgba(0, 0, 0, 0.43);
}
.info__container__data__header {
    width: 100%; /* Cambiado a porcentaje */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625rem; /* Espaciado entre encabezados y contenido */
}

.info__container__data__type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem; /* Espacio entre elementos */
}

.info__container__data__type img {
    height: 1.25rem; /* Cambiado a unidades relativas */
    width: 1.25rem; /* Cambiado a unidades relativas */
}

.info__container__headings,
.info__container__data__abilities {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ancho adaptativo */
    max-width: 100%;
    margin: 0 auto; /* Cambiado a unidades relativas */
    font-family: 'VT323', monospace;
    font-size: 2vw; /* Proporcional al tamaño de la ventana */
    font-weight: 600;
    margin-bottom: 0.625rem; /* Espaciado para claridad */
}

.info__container__data__data {
    display: flex; /* Activa el modelo Flexbox */
    width: 100%; /* Ancho adaptativo */
    flex-direction: row; /* Organiza los elementos en una fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
    gap: 1rem; /* Espacio entre los elementos (ajustado a 1rem para mayor separación) */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    background-color: rgba(255, 255, 255, 0.25); /* Fondo semi-transparente */
    padding: 0.625rem; /* Espacio interno alrededor del contenido */
    border-radius: 1rem; /* Redondea las esquinas */
    margin: 0 auto; /* Espacio superior */
}

/* Asegurar que las columnas de estadística tengan el mismo tamaño */
.info__container__stat__columns {
    flex: 1; /* Hace que todas las columnas ocupen el mismo ancho */
    min-width: 135px; /* Ancho mínimo */
    max-width: 150px; /* Ancho máximo para que no se desborden */
}

/* Componentes de Diálogo */
.MuiDialog-paperFullWidth {
    width: 63%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(175, 136, 136, 0.29), 0 6px 6px rgba(0, 0, 0, 0.43);
}

.MuiDialog-container {
    background-color: var(--bgcolor);
    background-image: var(--bggradient);
}

.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0);
}

/* Dimensiones */
.info__container__data__dimensions {
    display: flex;
    gap: 0 30px;
    width: 100%; /* Ancho adaptativo */
    margin: 0 auto; 
}

.info__container__stat__columns__name {
    text-transform: uppercase;
    color: rgb(128, 126, 127);
}

.dialog__bg {
    background-image: url("../assets/images/fondo-transparente.png");
    background-repeat: repeat;
}

.dialog__content {
    font-family: 'VT323', monospace;
    font-size: 1.3125rem; /* 21px */
}

.close__btn {
    width: 1.875rem !important; /* 30px */
}

.ability {
    text-transform: capitalize;
}

.right__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.1875rem; /* 3px */
}

.noselect {
    user-select: none;
}

.evolution__box {
    display: flex; /* Alinea las evoluciones horizontalmente */
    justify-content: center; /* Centra los elementos en la evolución */
    gap: 20px; /* Espacio entre cada evolución */
}

.evolution__sub__box {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente todos los elementos */
}

.evolution__imgarrow {
    display: flex; /* Permite que la imagen y la flecha se alineen en fila */
    align-items: center; /* Alinea la imagen y la flecha en el mismo eje */
}

.evolution__img__div {
    height: 7.0625rem; /* Ajusta la altura según sea necesario */
    width: 7.0625rem; /* Ajusta el ancho según sea necesario */
    display: flex;
    border-radius: 50%;
    box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    transition: all 0.35s;
}

.evo__name {
    text-transform: capitalize;
    margin: 0.7rem 0; /* Espacio entre el nombre y la imagen */
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 15%; /* Agrega un espacio de 5px a la izquierda */}

.evo__arrow {
    margin-left: 10px; /* Espacio entre la flecha y la imagen */
}


.evolution__box .evo_img {
    width: 5rem; /* 80px */
    height: 5rem; /* 80px */
    margin: auto;
    display: flex;
    cursor: pointer;
}

.evolution__img__div {
    height: 7.0625rem; /* 113px */
    width: 7.0625rem; /* 113px */
    display: flex;
    border-radius: 50%;
    box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    transition: all 0.35s;
    margin-top: 3vh;
}

.evolution__poke__name {
    text-transform: capitalize;
    margin: 0.625rem 0; /* 10px */
}

.arrow__right {
    font-size: 1.75rem;
    margin: 0 0.625rem; /* 10px */
}

.MuiDialogContent-root:first-child {
    padding: 0.625rem; /* 10px */
}

.ability__list {
    display: flex;
    gap: 0 30px;
    padding-inline-start: 1em;
}

.ability__list__bg {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.3125rem; /* 5px */
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.MuiTooltip-tooltip {
    font-size: 0.9375rem !important; /* 15px */
}

.separator {
    border: 0;
    border-radius: 20px;
    height: 1px;
    background-color: #fff;
    margin: 1rem 0;
}
.transparency__div {
    background: rgba(255, 255, 255, 0.25);
    height: 7.0625rem; /* 113px */
    width: 7.0625rem; /* 113px */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.625rem; /* 10px */
    border-radius: 1rem;
    margin-top: 0.5rem;
}
/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .info__container__data__header {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinear al inicio */
    }

    .info__container__data__data {
        flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
        gap: 0.5rem; /* Reducir espacio en pantallas pequeñas */
    }

    .info__container__data__headings {
        font-size: 4vw; /* Proporcional al tamaño de la ventana */
    }

    .info__container__data__abilities {
        font-size: 3.5vw; /* Proporcional al tamaño de la ventana */
    }

    .info__container__stat__columns {
        min-width: auto; /* Permitir que las columnas se ajusten mejor */
        max-width: none; /* Remover límite superior */
    }

    .info__container__data {
        padding: 0 1rem; /* Espaciado interno */
    }
}
