/* Estilos Base */
html {
    --pokename: #000;
    --cardborder: #fff;
    --pokenumber: hsl(228, 28%, 20%);
    --info: #fff;
    --bggradient: #fff;
    --bgcolor: none;
}

html[data-theme=dark] {
    --pokename: hsl(228, 28%, 20%);
    --cardborder: hsl(228, 28%, 20%);
    --pokenumber: hsl(228, 28%, 20%);
    --info: hsl(228, 28%, 20%);
    --bggradient: none;
    --bgcolor: #16171f;
}

body {
    font-family: 'Arial', sans-serif; /* Usar Arial como fuente */
    font-size: 20px; /* Tamaño de letra de 20px */
}

.info-dialog-container { 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    
}

/* Contenedor Principal */
.info__container {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    padding: 5vw; 
}

/* Imágenes y Contenido */
.info__container__img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.78);
    max-width: 100%; 
    aspect-ratio: 1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.info__container__img img {
    width: 75%; 
    height: auto; 
    border-radius: 1.2rem;
}

.info__container__img__header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 3vw;
    width: 100%; 
}

.info__container__button {
    cursor: pointer; 
    width: 25px;  
    height: 25px;
    margin-left: 5vw;
}

.pokemon__id {
    color: var(--pokenumber);
    
    font-weight: 400;
    font-size: 25px; 
    margin-right: 5vw; 
}

.info__container__data__type {
    width: 100%;
    height: 10vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    gap: 1rem;
}

.info__container__data__type img {
    width: 75%;
    height: auto;
    border-radius: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.poke__type__bg > img {
    width: 75%;
    height: auto;
    border-radius: 100%;
}
/* Datos del Pokémon */
.info__container__data {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-left: 5vw;
}

.info__container__header__name {
    display: flex; /* Para alinear las columnas horizontalmente */
    justify-content: space-between; /* Para alinear las columnas en los extremos */
    margin-top: 3vw; /* Margen superior para ambas columnas */
}

.info__container__title {
    display: flex;
    flex-direction: column; /* Para apilar los elementos verticalmente */
    margin-bottom: 20px; /* Margen izquierdo en la columna 1 */
}
/* Texto */
.pokemon__name {
    font-size: 35px;
    text-transform: capitalize;
    font-family: 'Press Start 2P', Arial; 
    text-align: center; 
    margin-bottom: 0.5rem;
    color: var(--pokename);
}

.pokemon__genera {/* Tamaño del género */
    text-align: center;
}

.info__container__headings {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 0 auto; 
    font-size: 25px; 
    font-weight: 600;
    margin-bottom: 0.625rem; 
}

.info_container_favorite {
    display: flex; /* O cualquier otro estilo que necesites */
    align-items: start; /* Centrar verticalmente el contenido */
    justify-content: flex-end; /* Alinear a la derecha sin margen */
 /* Margen superior en la columna derecha */
    font-size: 30px; /* Tamaño del contenido en la columna derecha */
}

.dimensions {
    display: flex;
    justify-content: space-between; /* Alinea los elementos en los extremos */
    margin: 1rem 0; /* Agrega un margen vertical si es necesario */
}

.dimensions p {
    margin: 0; /* Elimina el margen por defecto de los párrafos */
    font-size: 20px; /* Asegúrate de que el tamaño de la fuente sea 20px */
}
.stats-container {
    display: flex;
    flex-direction: column; /* Coloca las filas verticalmente */
    gap:10px;
}

.stat-row {
    display: flex;
    align-items: center; /* Alinear elementos en el centro verticalmente */
    margin-bottom: 5px; /* Espacio entre filas */
}

.stat-name {
    flex: 1; /* Ocupa 1/3 del ancho */
    text-align: right; /* Alinear texto a la izquierda */
    margin-right: 10px; /* Espacio entre nombre y gráfico */
}

.line-chart-container {
    flex: 1; /* Ocupa 2/3 del ancho */
    position: relative; /* Para posicionar el valor dentro de la barra */
}

.line-chart {
    height: 25px; /* Altura de la barra */
    background: #4ca0af; /* Color de la barra */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: width 0.5s ease; /* Animación al cambiar de tamaño */
    position: relative; /* Para permitir el posicionamiento relativo del valor */
}

.stat-value {
    position: absolute; 
    left: 50%; /* Centrar el valor dentro de la barra */
    top: -1px;
    transform: translateX(-50%); /* Ajustar la posición para centrar */
    color: rgb(1, 1, 1); /* Color del texto dentro de la barra */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
.close__btn {
    width: 1.875rem !important; 
}

.right__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.1875rem; 
}

.noselect {
    user-select: none;
}

.evolution__box {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px;
}

.evolution__sub__box {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.evolution__imgarrow {
    display: flex; 
    align-items: center; 
}

.evolution__img__div {
    height: 7.0625rem; 
    width: 7.0625rem; 
    display: flex;
    border-radius: 50%;
    box-shadow: 0 5px 15px 4px rgba(131, 129, 129, 0.3);
    align-items: center;
    justify-content: center;
    transition: all 0.35s;
}

.evo__name {
    text-transform: capitalize;
    margin: 0.7rem 0; 
    width: 100%; 
    text-align: left; 
    padding-left: 15%; 
}

.evo__arrow {
    margin-left: 10px; 
}

.evolution__box .evo_img {
    width: 5rem; 
    height: 5rem; 
    margin: 0 auto; 
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .info__container {
        flex-direction: column; 
        align-items: center; 
    }

    .info__container__img, 
    .info__container__data {
        width: 100%; 
        margin: 0; 
    }

    .pokemon__name {
        font-size: 6vw; 
    }

    .pokemon__id {
        font-size: 5vw; 
    }

 
    .info__container__data__data {
        flex-direction: column; 
        align-items: center; 
    }

    .dimensions, 
    .gender__container {
        width: 100%; 
    }

    .evolution__box {
        flex-direction: column; 
        gap: 10px; 
    }

    .evolution__img__div {
        height: 5rem; 
        width: 5rem; 
    }
}

@media (max-width: 480px) {
    .pokemon__name {
        font-size: 7vw; 
    }

    .pokemon__id {
        font-size: 6vw; 
    }

}
