/* Estilos Base */
html {
    --pokename: #000;
    --cardborder: #fff;
    --pokenumber: hsl(228, 28%, 20%);
    --info: #fff;
    --bggradient: #fff;
    --bgcolor: none;
}

html[data-theme=dark] {
    --pokename: hsl(228, 28%, 20%);
    --cardborder: hsl(228, 28%, 20%);
    --pokenumber: hsl(228, 28%, 20%);
    --info: hsl(228, 28%, 20%);
    --bggradient: none;
    --bgcolor: #16171f;
}

.info-dialog-container { 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    
}

/* Contenedor Principal */
.info__container {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    padding: 5vw; 
}

/* Imágenes y Contenido */
.info__container__img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.78);
    max-width: 100%; 
    aspect-ratio: 1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.info__container__img img {
    width: 75%; 
    height: auto; 
    border-radius: 1.2rem;
}

.info__container__img__header {
    display: flex;
    justify-content: space-between; 
    align-items: center;

    width: 100%; 
}

.info__container__button {
    cursor: pointer; 
    width: 25px;  
    height: 25px;
    margin-left: 5vw;
}

.pokemon__id {
    color: var(--pokenumber);
    font-family: 'Teko', Arial;
    font-weight: 400;
    font-size: 25px; 
    margin-right: 5vw; 
    padding-bottom: 1rem; 
}



.poke__type__bg > img {
    width: 75%;
    height: auto;
    border-radius: 100%;
}

.info__container__data__type {
    width: 100%;
    height: 10vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    gap: 1rem;
}

.info__container__data__type img {
    width: 75%;
    height: auto;
    border-radius: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

/* Texto */
.pokemon__name {
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Press Start 2P', Arial; 
    text-align: center; 
}

/* Datos del Pokémon */
.info__container__data {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 0 auto; 
}

/* Encabezados de Datos */
.info__container__headings,
.ability__list {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 0 auto; 
    font-family: 'VT323', monospace;
    font-size: 3vw; 
    font-weight: 600;
    margin-bottom: 0.625rem; 
}

.info__container__data__abilities {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    gap: 1rem; 
}

/* Texto Adicional */
.desc, 
.ability__list__bg,
.info__container__data__data {
    display: flex; 
    width: 100%; 
    flex-wrap: wrap; 
    gap: 1rem; 
    align-items: center; 
    justify-content: space-between; 
    background-color: rgba(255, 255, 255, 0.25); 
    padding: 0.625rem; 
    border-radius: 1rem; 
}

/* Asegurar que las columnas de estadística tengan el mismo tamaño */
.info__container__stat__columns {
    flex: 1; 
    min-width: 135px; 
}

/* Componentes de Diálogo */
.MuiDialog-paperFullWidth {
    width: 63%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(175, 136, 136, 0.29), 0 6px 6px rgba(0, 0, 0, 0.43);
}

.info__container__data__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap: 1.5rem; 
}

/* Dimensiones y género */
.dimensions, 
.gender__container {
    display: flex;
    flex-direction: column; 
    gap: 0.2rem; 
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
}

.info__container__data__columns__name {
    text-transform: uppercase;
    color: rgb(128, 126, 127);
}

.dialog__bg {
    background-image: url("../assets/images/fondo-transparente.png");
    background-repeat: repeat;
}

.dialog__content {
    font-family: 'VT323', monospace;
    font-size: 1.3125rem; 
}

.close__btn {
    width: 1.875rem !important; 
}

.ability {
    text-transform: capitalize;
}

.right__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.1875rem; 
}

.noselect {
    user-select: none;
}

.evolution__box {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.evolution__sub__box {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.evolution__imgarrow {
    display: flex; 
    align-items: center; 
}

.evolution__img__div {
    height: 7.0625rem; 
    width: 7.0625rem; 
    display: flex;
    border-radius: 50%;
    box-shadow: 0 5px 15px 4px rgba(131, 129, 129, 0.3);
    align-items: center;
    justify-content: center;
    transition: all 0.35s;
}

.evo__name {
    text-transform: capitalize;
    margin: 0.7rem 0; 
    width: 100%; 
    text-align: left; 
    padding-left: 15%; 
}

.evo__arrow {
    margin-left: 10px; 
}

.evolution__box .evo_img {
    width: 5rem; 
    height: 5rem; 
    margin: 0 auto; 
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .info__container {
        flex-direction: column; 
        align-items: center; 
    }

    .info__container__img, 
    .info__container__data {
        width: 100%; 
        margin: 0; 
    }

    .pokemon__name {
        font-size: 6vw; 
    }

    .pokemon__id {
        font-size: 5vw; 
    }

    .info__container__headings {
        font-size: 4vw; 
    }
 
    .info__container__data__data {
        flex-direction: column; 
        align-items: center; 
    }

    .info__container__stat__columns {
        min-width: 100%; 
    }

    .dimensions, 
    .gender__container {
        width: 100%; 
    }

    .evolution__box {
        flex-direction: column; 
        gap: 10px; 
    }

    .evolution__img__div {
        height: 5rem; 
        width: 5rem; 
    }
}

@media (max-width: 480px) {
    .pokemon__name {
        font-size: 7vw; 
    }

    .pokemon__id {
        font-size: 6vw; 
    }

    .info__container__headings {
        font-size: 5vw; 
    }
}
