.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 0 8px; /* Espaciado entre botones */
}

.pagination button {
    padding: 10px 16px; 
    background-color: #f9f9f9; /* Fondo suave */
    border: 1px solid #ddd; /* Borde gris claro */
    color: #333; /* Color de texto suave */
    cursor: pointer;
    border-radius: 12px; /* Bordes más redondeados */
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease; 
    font-weight: 500; 
    font-size: 15px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.pagination button:hover {
    background-color: #e8e8e8; /* Fondo más oscuro al pasar el mouse */
    border-color: #bbb; /* Borde más oscuro */
}

.pagination button:disabled {
    background-color: #f0f0f0; 
    color: #aaa; 
    cursor: not-allowed; 
}

.pagination .active {
    background-color: #00cbf8; /* Fondo para la página activa */
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3); /* Sombra pronunciada */
}

.pagination .active:hover {
    background-color: #0056b3; /* Fondo más oscuro para la página activa al pasar el mouse */
}
