.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 0 5px; /* Espaciado entre botones */
}

.pagination button {
    padding: 10px;
    background-color: transparent; /* Fondo transparente por defecto */
    border: none; /* Sin borde */
    color: #000; /* Texto negro */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
}

.pagination button:hover {
    color: #333; /* Texto más oscuro al pasar el mouse */
    transform: translateY(-3px); /* Efecto de elevación */
}

.pagination .active {
    background-color: #000; /* Fondo negro para la página activa */
    color: #fff; /* Texto blanco para la página activa */
    border-radius: 50%; /* Convertir el fondo en un círculo */
    padding: 10px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para la página activa */
}

.pagination button:disabled {
    color: #ccc; /* Texto gris para botones deshabilitados */
    cursor: not-allowed; /* Cursor para indicar que está deshabilitado */
}

/* Estilo para los botones de Anterior y Siguiente */
.pagination button.prev-next {
    font-size: 18px;
    font-weight: bold;
    color: #000; /* Texto negro para botones de Anterior/Siguiente */
}
